.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 350px;
  padding: 20px;
  background-color: rgb(246, 238, 238);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.statusIsOnline,
.statusNotOnline {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.statusIsOnline {
  background-color: green;
}
.statusNotOnline {
  background-color: red;
}

.name {
  font-size: 24px;
  font-weight: bold;
  color: #111111;
}
