.statistics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  width: 350px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;

  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title {
  margin-top: 40px;
  margin-bottom: 0;
  text-transform: uppercase;

  color: #6b5454;
}

.statList {
  display: flex;
  /* margin-top: 40px;
  margin-bottom: 0; */
  margin: 40px auto 0 auto;
}

.item {
  width: 85px;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.percentage {
  font-size: 20px;
}
