.transactionHistory {
  background-color: #ffffff;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}

.tableHeadRow {
  background-color: rgb(10, 184, 207);
}

.tableHeader {
  min-width: 100px;
  padding: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.tableBodyRow:nth-child(2n) {
  background-color: rgb(216, 221, 224);
}

.tableData {
  text-align: center;
  padding: 10px;
  color: #6b5454;
}
